@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #000 !important;
  color: #fff !important;
}
.loading-area{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
.search-button {
  margin-right: 10px;
}
.login-button {
  margin-left: 15px;
}
.logout-area {
  position: relative;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.user-img {
  border-radius: 50%;
  width: 80%;
  height: 80%;
}
.logout-dropdown{
  z-index: 9 !important;
  text-align: center;
  position: absolute;
  top: 48px;
  right: 0;
  background-color: rgba(19,19,19,0.7);
  border: 1px solid rgba(151,151,151,0.34);
  border-radius: 15px;
  box-shadow: rgb(0 0 0/70%) 0 0 18px 0;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 0;
}
.logout-area:hover .logout-dropdown{
  opacity: 1;
  transition: .5s;
}
.me-2.nav-input:focus {
  outline-style: none;
}
.banner {
  height: 600px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}
.banner::before {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: linear-gradient(to right,black, transparent);
}
.banner-info {
  width: 45%;
  margin-left: 70px;
  z-index: 1;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner-info h1{
  font-size: 58px;
  font-weight: 700;
  color: #dc143c;
}
.banner-info p{
  font-size: 19px;
  font-weight: 500;
}
.carousel-container {
  overflow: hidden;
  height: 250px;
}
.movie-type {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 30px;
  font-style: normal;
}

/* MOVIE CARD */
.movie-card {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 200px;
  cursor: pointer;
  transition: all .5s;
}
.movie-card-overlay {
  opacity: 0;
  padding: 15px 10px 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movie-card:hover {
  transform: scale(1.3) translateZ(20px);
  z-index: 2;
}
.movie-card:hover .movie-card-overlay {
  opacity: 1;
  background-color: rgba(43,41,41,.9);
  width: 100%;
  height: 100%;
}
/* movie card overlay 정보들 */
.movie-card-overlay h1{
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 31px;
}
.movie-card-title_bar {
  width: 40%;
  margin:12px 0;
  border-bottom: 2px solid #fff;
}
.movie-card-genre{
  margin-bottom: 8px;
}
.movie-card-genre .genre-badge{
  margin-right: 10px;
}

/* INFO / INFO ICON */
.info {
display: flex;
align-items: center;
}
.info div{
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.info div:last-child{
  margin-top: -1px;
  font-weight: 700;
}
.average-logo {
  color: yellow;
  margin-right: 5px;
}
.popularity {
  color: gray;
  margin-right: 5px;
}
.adult {
  margin-top: 4px;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  color: #dc143c;
}
.info.info-card {
  margin-top: 8px;
}
.info.info-card div {
  font-size: 15px;
}
.info.info-poster {
  padding-left: 25px;
  margin-top: 15px;
}
.info.info-detail {
  padding-left: 25px;
  margin-bottom: 15px;
}

/* MOVIE-POSTER */
.movie-poster {
  box-sizing: border-box;
  display: block;
  max-height: 550px;
  height: 100%;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
  overflow: hidden;
  margin-bottom: 30px;
  position:relative;
  cursor:pointer;
  margin-bottom:20px;
  transition:all .5s;
}
.movie-poster:hover {
  transform: scale(1.03) translateZ(20px);
  z-index:2
}
.movie-poster-info {
  position: relative;
  display: flex;
  flex-direction: column;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}
.movie-poster-genre {
  padding-top: 10px;
  padding-left:25px ;
  margin-bottom: 15px;
}
.movie-poster-genre .genre-badge {
  padding: 7px 10px;
  border-radius: 8px;
  margin-right: 5px;
}

.movie-poster-header {
  padding-top: 25px;
  padding-left: 25px;
  display: flex;
}
.movie-poster-header img {
  float: left;
  margin-right: 20px;
}

.movie-poster-header-info h1{
  font-weight: 400;
  font-size: 26px;

}
.movie-poster-header-info span{
  color: #9ac7fa;
}
.poster-overview {
  padding-left: 25px;
  margin: 0;
}
/* MOVIE DETAIL PAGE */
.movie-detail {
  height: 100vh;
}
.detail-banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.detail-banner-info{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

}
.detail-banner-info h1 {
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: 400;
}
.detail-banner-box {
  text-decoration: none;
  padding: 24px 42px;
  display: flex;
  background-color: #fff;
  color:#ABADC5;
  font-size: 14px;
  transition: all .3s ease 0s;
  letter-spacing: 2px;
}
.detail-banner-link{
  text-decoration: none;
  color:#525470;
  margin-right: 5px;
  transition: .3s ease-in-out;
}
.detail-banner-link:hover{
  color: #fff;
}
.detail-banner-title{
  margin-left: 5px;
  text-transform: uppercase;
}
.detail-poster {
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-bottom: 100px;
}
.detail-info{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.detail-genre {
  list-style: none;
  display: flex;
  margin-bottom: 30px;
  padding-left: 25px;
}
.detail-genre .genre-badge{
  padding: 10px;
  margin-right: 10px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 14px;
}
.detail-title {
  padding-left: 25px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 20px;
}
.detail-tagline {
  padding-left: 25px;
  font-weight: 300;
  margin-bottom: 20px;
}
.detail-bar {
  border-bottom: 2px solid #fff;
  width: 90%;
  margin-left: 25px;
}
.detail-overview {
  margin: 0;
  padding: 30px 0 30px 25px;
}
.detail-info_info {
  padding: 30px;
  margin: 0;
}
.detail-info_info li{
  list-style-type: none;
  margin-bottom: 10px
}
.detail-info_info li .badge {
  font-weight: 500;
  font-size: 13px;
  width: 120px;
  text-align: center;
  padding: 5px 15px;
  border-radius: 20px;
  margin-right: 10px;
}
.movie-trailer {
  padding-left: 25px;
  margin: 30px 0;
  color: red;
  font-size: 16px;
  transition: .3s;
  cursor: pointer;
}
.movie-trailer:hover {
  color: #000;
}
.movie-icon {
  margin-right: 5px;
}

.toggle-btn {
  font-size: 14px;
  padding: 20px 35px;
  margin: 0 20px 20px 0;
  border-radius: 5px;
  outline: #fff;
  color:#525470;
}
.clicked-btn {
  font-size: 14px;
  padding: 20px 35px;
  margin: 0 20px 20px 0;
  border-radius: 5px;
  background-color: #fe4536;
  color: #fff;
  outline: #fff;
}
.review-area{
  margin-top: 50px;
  padding:50px;
  border: 3px solid #fff;
}
.review-box {
  padding: 25px 0;
  border-bottom: 1px solid #fff;
}
.related-area {
  margin-top: 50px;
  padding: 50px;
}
.related-movie {
  display: flex;
  justify-content: center;
}
.movie-card.related {
  width: 400px;
  height:300px
}

/* login page */
.login-back{
  height: 100vh;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-back::before {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 90%);
}
.login-info {
  display: flex;
  height: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
}
.login-info h1{
  z-index: 2;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 25px;
}
.login-info h3{
  z-index: 1;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 25px;
}
.login-box {
  width: 300px;
  z-index: 1;
  text-align: center;
  padding:15px 20px;
  background-color: red;
  font-size: 25px;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s;
}

.login-box:hover {
  transform: scale(1.05)
}
/* SORT MOVIE */
.select-box {
  padding: 5px 10px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  background-color: rgba(19,19,19,0.7);
  border: 2px solid #fff;
  color:#fff;
}
.select-box:focus {
  outline: none;
}
.select-option{
  text-align: center;
  padding-left: -3px;
}
/* pagination */
.pagination{
  display: flex;
  justify-content: center;
}
.pagination .page-link{
  padding: 15px 20px;
  background-color: #000;
  color:#dc143c;
  border: none;
}
.pagination .page-link:hover{
  color: #dc143c;
}
.active {
  background-color: #dc143c !important;
  color: #fff;
}

@media screen and (min-width: 768px){
  .movie-poster {
    width: 90%;
}
.movie-poster-info {
  background: linear-gradient(90deg,#0d0d0c 40%,transparent);
}
.movie-poster-header {
  width: 70%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.movie-poster-genre {
  width: 60%;
}
.movie-poster-genre .genre-badge {
  margin-bottom: 7px;
}
.poster-overview{
  width: 50%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}
.detail-poster{
  height: 800px;
  background-size:contain;
}}
@media screen and (max-width: 768px){
  .banner-info p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
  }
.movie-poster {
    width: 95%;
    min-height: 350px;
    height: auto;
    position: relative;
}
.movie-poster-header {
    width: 100%;
    margin-top: 85px;
}
.movie-poster-info{
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  background: linear-gradient(0deg,#141413 50%,transparent);
}
.poster-overview{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
}