@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #000 !important;
  color: #fff !important;
}
.nav-item {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
.banner {
  height: 600px;
  display: flex;
  align-items: center;
  position: relative;
}
.banner::before {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: linear-gradient(to right,black, transparent);
}
.banner-info {
  width: 45%;
  margin-left: 70px;
  z-index: 1;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner-info h1{
  font-size: 62px;
  font-weight: 700;
  color: #dc143c;
}
.banner-info p{
  font-size: 19px;
  font-weight: 500;
}
.carousel-container {
  overflow: hidden;
  height: 300px;
}

/* MOVIE CARD */
.movie-card {
  background-size: cover;
  width: 300px;
  height: 200px;
  cursor: pointer;
  transition: all .5s;
}
.movie-card-overlay {
  opacity: 0;
  padding: 15px 10px 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movie-card:hover {
  transform: scale(1.3) translateZ(20px);
  z-index: 2;
}
.movie-card:hover .movie-card-overlay {
  opacity: 1;
  background-color: rgba(43,41,41,.9);
  width: 100%;
  height: 100%;
}
/* movie card overlay 정보들 */
.movie-card-overlay h1{
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 31px;
}
.movie-card-title_bar {
  width: 40%;
  margin:12px 0;
  border-bottom: 2px solid #fff;
}
.movie-card-genre{
  margin-bottom: 8px;
}
.movie-card-genre .genre-badge{
  margin-right: 10px;
}
.movie-card-info {
display: flex;
align-items: center;
}
.movie-card-info div{
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/* MOVIE CARD ICON */
.average-logo {
  color: yellow;
  margin-right: 5px;
}
.popularity {
  color: gray;
  margin-right: 5px;
}
.adult {
  margin-top: 4px;
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  color: #dc143c;
}

/* MOVIE-POSTER */
.movie-poster {
  display: block;
  max-height: 550px;
  height: 100%;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
  overflow: hidden;
  margin-bottom: 30px;
  position:relative;
  cursor:pointer;
  margin-bottom:20px;
  transition:all .5s;
}
.movie-poster:hover {
  transform: scale(1.03) translateZ(20px);
  z-index:2
}
.movie-poster-info {
  position: relative;
  display: flex;
  flex-direction: column;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}
.movie-poster-genre {
  padding-top: 10px;
  padding-left:25px ;
  margin-bottom: 15px;
}
.movie-poster-genre .genre-badge {
  padding: 7px 10px;
  border-radius: 8px;
  margin-right: 5px;
}

.movie-poster-header {
  padding-top: 25px;
  padding-left: 25px;
  display: flex;
}
.movie-poster-header img {
  float: left;
  margin-right: 20px;
}

.movie-poster-header-info h1{
  font-weight: 400;
  font-size: 26px;

}
.movie-poster-header-info span{
  color: #9ac7fa;
}
.poster-overview {
  padding-left: 25px;
}
.movie-poster-info_info {
  padding-left: 25px;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}
.movie-poster-info_info div{
  margin-right: 15px;
}


@media screen and (min-width: 768px){
  .movie-poster {
    width: 90%;
}
.movie-poster-info {
  background: linear-gradient(90deg,#0d0d0c 40%,transparent);
}
.movie-poster-header {
  width: 70%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.movie-poster-genre {
  width: 60%;
}
.movie-poster-genre .genre-badge {
  margin-bottom: 7px;
}
.poster-overview{
  width: 50%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}}
@media screen and (max-width: 768px){
.movie-poster {
    width: 95%;
    min-height: 350px;
    height: auto;
}
.movie-poster-header {
    width: 100%;
    margin-top: 85px;
}
.movie-poster-info{
  background: linear-gradient(0deg,#141413 50%,transparent);
}
.poster-overview{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}}